---
# Example copycfg.yaml
# 
# This is really a prototype for me to sketch out design ideas

basedir: /srv/copycfg/hosts

sftp:
  user: root
  key: /srv/copycfg/.ssh/id_rsa


ldap:
  base: "ou=Netgroup,dc=example"
  connection:
    !ruby/sym host: "ldap.example.com"
    !ruby/sym port: 636
    !ruby/sym auth:
      !ruby/sym method: !ruby/sym simple
      !ruby/sym username: "uid=user,ou=Netgroup,dc=example"
      !ruby/sym password: "pass"
    !ruby/sym encryption: !ruby/sym simple_tls

filegroups:
  default:
    - /etc/derp
    - /etc/blargh
  bees:
    - /etc/bees

hosts:
  "anaphylacticshock.example.com":
    filegroups:
      - default
      - bees
    files:
      - /etc/csh
      - /etc/slogin
    

