---
# Example copycfg.yaml
# 
# This is really a prototype for me to sketch out design ideas


ldap:
  base: ou=Netgroup,dc=example
  connection:
    host: ldap.example.com
    port: 389
    encryption: simple_tls
    auth:
      method: simple
      username: user
      password: pass

filegroups:
  default:
    - /etc/derp
    - /etc/blargh
  bees:
    - /etc/bees

hosts:
  "anaphylacticshock.example.com":
    filegroups:
      - default
      - bees
    files:
      - /etc/csh
      - /etc/slogin
    

